{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de promociones</title>
</head>
<body>
<h1 align="center" class="page-header">Lista de promociones</h1>
{%  for oferta in lista_promociones %}
<div class="col-md-4 col-sm-6 col-lg-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{oferta.name}}</h3>
      </div>
      <div class="panel-body">
          <ul>
            <li>Descripcion: {{oferta.description}}</li>
            <li>Fecha: {{oferta.end_date}}</li>
            <li>Valor: {{oferta.amount}}</li>
            <li>Ciudad: {{oferta.city.name}} - {{oferta.city.country}}</li>
          </ul>
          <img class="img-responsive" src="{{oferta.img_url}}" width="500" height="300">
      </div>
    </div>
</div>
{% endfor %}
</body>
</html>