{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de promociones</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'deals:index' %}">Bienvenido</a>
        </div>

    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li><a class="glyphicon glyphicon-user" href="{% url 'deals:editUser' %}">{{ user.username }}</a></li>
                <li><a class="glyphicon glyphicon-log-out" href="{% url 'deals:logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'deals:addUser' %}">Registro</a></li>
                <li><a class="glyphicon glyphicon-log-in" href="{% url 'deals:login' %}">Login </a></li>
            {% endif %}
        </ul>
    </div>
</div>
</nav>
<br><br>

<h1 align="center" class="page-header">Lista de promociones</h1>
{%  for oferta in lista_promociones %}
<div class="col-md-4 col-sm-6 col-lg-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{oferta.name}}</h3>
      </div>
      <div class="panel-body">
          <ul>
            <li>Descripcion: {{oferta.description}}</li>
            <li>Fecha: {{oferta.end_date}}</li>
            <li>Valor: {{oferta.amount}}</li>
            <li>Ciudad: {{oferta.city.name}} - {{oferta.city.country}}</li>
          </ul>
          <img class="img-responsive" src="{{oferta.img_url}}" width="500" height="300">
      </div>
    </div>
</div>
{% endfor %}
</body>
</html>